[security]
INSTALL_LOCK = true
INTERNAL_TOKEN = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuYmYiOjE3ODA5NTc5OTF9.xfbRwc_GYpzyyNqm0NTIZ7IZGsK0XN9J3cC4gt6FOyA

[oauth2]
JWT_SECRET = RDMQ1MgfgLFkCaTNm_GKUj5SJ61Xv-Fjiwg_LSrYj30
