<div id="webauthn-error" class="ui negative message tw-hidden">
	<div class="header">{{ctx.Locale.Tr "webauthn.error"}}</div>
	<div id="webauthn-error-msg" class="tw-pt-2"></div>
	<div class="tw-hidden">
		<div data-webauthn-error-msg="browser">{{ctx.Locale.Tr "webauthn.unsupported_browser"}}</div>
		<div data-webauthn-error-msg="unknown">{{ctx.Locale.Tr "webauthn.error.unknown"}}</div>
		<div data-webauthn-error-msg="insecure">{{ctx.Locale.Tr "webauthn.error.insecure"}}</div>
		<div data-webauthn-error-msg="unable-to-process">{{ctx.Locale.Tr "webauthn.error.unable_to_process"}}</div>
		<div data-webauthn-error-msg="duplicated">{{ctx.Locale.Tr "webauthn.error.duplicated"}}</div>
		<div data-webauthn-error-msg="empty">{{ctx.Locale.Tr "webauthn.error.empty"}}</div>
		<div data-webauthn-error-msg="timeout">{{ctx.Locale.Tr "webauthn.error.timeout"}}</div>
	</div>
</div>
