{{/* Uncomment to use this example in your registration form */}}
{{/*
<div class="ui warning message tw-flex tw-mt-0 tw-mb-4 tw-text-start">
	<p>This instance is being used for community development of SomeGreatSoftwareName and software within its ecosystem. Unrelated repositories will be removed.</p>
</div>
*/}}