<dl class="admin-dl-horizontal">
	<dt>{{ctx.Locale.Tr "admin.system_status.server_uptime"}}</dt>
	<dd><relative-time format="duration" datetime="{{.SysStatus.StartTime}}">{{.SysStatus.StartTime}}</relative-time></dd>
	<dt>{{ctx.Locale.Tr "admin.system_status.current_goroutine"}}</dt>
	<dd>{{.SysStatus.NumGoroutine}}</dd>
	<div class="divider"></div>
	<dt>{{ctx.Locale.Tr "admin.system_status.current_memory_usage"}}</dt>
	<dd>{{ctx.Locale.TrSize .SysStatus.MemAllocated}}</dd>
	<dt>{{ctx.Locale.Tr "admin.system_status.total_memory_allocated"}}</dt>
	<dd>{{ctx.Locale.TrSize .SysStatus.MemTotal}}</dd>
	<dt>{{ctx.Locale.Tr "admin.system_status.memory_obtained"}}</dt>
	<dd>{{ctx.Locale.TrSize .SysStatus.MemSys}}</dd>
	<dt>{{ctx.Locale.Tr "admin.system_status.pointer_lookup_times"}}</dt>
	<dd>{{.SysStatus.Lookups}}</dd>
	<dt>{{ctx.Locale.Tr "admin.system_status.memory_allocate_times"}}</dt>
	<dd>{{.SysStatus.MemMallocs}}</dd>
	<dt>{{ctx.Locale.Tr "admin.system_status.memory_free_times"}}</dt>
	<dd>{{.SysStatus.MemFrees}}</dd>
	<div class="divider"></div>
	<dt>{{ctx.Locale.Tr "admin.system_status.current_heap_usage"}}</dt>
	<dd>{{ctx.Locale.TrSize .SysStatus.HeapAlloc}}</dd>
	<dt>{{ctx.Locale.Tr "admin.system_status.heap_memory_obtained"}}</dt>
	<dd>{{ctx.Locale.TrSize .SysStatus.HeapSys}}</dd>
	<dt>{{ctx.Locale.Tr "admin.system_status.heap_memory_idle"}}</dt>
	<dd>{{ctx.Locale.TrSize .SysStatus.HeapIdle}}</dd>
	<dt>{{ctx.Locale.Tr "admin.system_status.heap_memory_in_use"}}</dt>
	<dd>{{ctx.Locale.TrSize .SysStatus.HeapInuse}}</dd>
	<dt>{{ctx.Locale.Tr "admin.system_status.heap_memory_released"}}</dt>
	<dd>{{ctx.Locale.TrSize .SysStatus.HeapReleased}}</dd>
	<dt>{{ctx.Locale.Tr "admin.system_status.heap_objects"}}</dt>
	<dd>{{.SysStatus.HeapObjects}}</dd>
	<div class="divider"></div>
	<dt>{{ctx.Locale.Tr "admin.system_status.bootstrap_stack_usage"}}</dt>
	<dd>{{ctx.Locale.TrSize .SysStatus.StackInuse}}</dd>
	<dt>{{ctx.Locale.Tr "admin.system_status.stack_memory_obtained"}}</dt>
	<dd>{{ctx.Locale.TrSize .SysStatus.StackSys}}</dd>
	<dt>{{ctx.Locale.Tr "admin.system_status.mspan_structures_usage"}}</dt>
	<dd>{{ctx.Locale.TrSize .SysStatus.MSpanInuse}}</dd>
	<dt>{{ctx.Locale.Tr "admin.system_status.mspan_structures_obtained"}}</dt>
	<dd>{{ctx.Locale.TrSize .SysStatus.MSpanSys}}</dd>
	<dt>{{ctx.Locale.Tr "admin.system_status.mcache_structures_usage"}}</dt>
	<dd>{{ctx.Locale.TrSize .SysStatus.MCacheInuse}}</dd>
	<dt>{{ctx.Locale.Tr "admin.system_status.mcache_structures_obtained"}}</dt>
	<dd>{{ctx.Locale.TrSize .SysStatus.MCacheSys}}</dd>
	<dt>{{ctx.Locale.Tr "admin.system_status.profiling_bucket_hash_table_obtained"}}</dt>
	<dd>{{ctx.Locale.TrSize .SysStatus.BuckHashSys}}</dd>
	<dt>{{ctx.Locale.Tr "admin.system_status.gc_metadata_obtained"}}</dt>
	<dd>{{ctx.Locale.TrSize .SysStatus.GCSys}}</dd>
	<dt>{{ctx.Locale.Tr "admin.system_status.other_system_allocation_obtained"}}</dt>
	<dd>{{ctx.Locale.TrSize .SysStatus.OtherSys}}</dd>
	<div class="divider"></div>
	<dt>{{ctx.Locale.Tr "admin.system_status.next_gc_recycle"}}</dt>
	<dd>{{ctx.Locale.TrSize .SysStatus.NextGC}}</dd>
	<dt>{{ctx.Locale.Tr "admin.system_status.last_gc_time"}}</dt>
	<dd><relative-time format="duration" datetime="{{.SysStatus.LastGCTime}}">{{.SysStatus.LastGCTime}}</relative-time></dd>
	<dt>{{ctx.Locale.Tr "admin.system_status.total_gc_pause"}}</dt>
	<dd>{{.SysStatus.PauseTotalNs}}</dd>
	<dt>{{ctx.Locale.Tr "admin.system_status.last_gc_pause"}}</dt>
	<dd>{{.SysStatus.PauseNs}}</dd>
	<dt>{{ctx.Locale.Tr "admin.system_status.gc_times"}}</dt>
	<dd>{{.SysStatus.NumGC}}</dd>
</dl>
