.dashboard.feeds .context.user.menu,
.dashboard.issues .context.user.menu {
  z-index: 101;
  min-width: 200px;
}

.dashboard.feeds .context.user.menu .ui.header,
.dashboard.issues .context.user.menu .ui.header {
  font-size: 1rem;
  text-transform: none;
}

.dashboard.feeds .filter.menu,
.dashboard.issues .filter.menu {
  width: initial;
}

.dashboard.feeds .filter.menu .item,
.dashboard.issues .filter.menu .item {
  text-align: start;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dashboard.feeds .filter.menu .item .text.truncate,
.dashboard.issues .filter.menu .item .text.truncate {
  width: 75%;
}

/* Sort */
.dashboard.feeds .filter.menu .jump.item,
.dashboard.issues .filter.menu .jump.item {
  margin: 1px;
  padding-inline-end: 0;
}

.dashboard.feeds .filter.menu .menu,
.dashboard.issues .filter.menu .menu {
  max-height: 300px;
  overflow-inline: auto;
  inset-inline: auto 0 !important;
}

@media (max-width: 767.98px) {
  .dashboard.feeds .filter.menu,
  .dashboard.issues .filter.menu {
    width: 100%;
  }
}

.dashboard .dashboard-repos,
.dashboard .dashboard-orgs {
  margin-bottom: 0;
}

.dashboard .secondary-nav {
  padding: 1px 12px; /* match .overflow-menu-items in height */
}

.dashboard .secondary-nav .right.menu {
  gap: .35714286em;
}

.dashboard .secondary-nav .right.menu div.item {
  padding-inline-start: 0.5rem;
}

.dashboard .secondary-nav .org-visibility .label {
  margin-inline-start: 5px;
}

.dashboard .secondary-nav .ui.dropdown {
  max-width: 100%;
}

.dashboard .help {
  color: var(--color-secondary-dark-8);
}
